/* HEIGHT 100% */
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.bloco {
    min-height: 100%;
    padding-top: 94px;
}


.home{
    background: #eaeaea;
}
.banner h2{
    font-size: 2.5rem;
    font-weight: 900;
    text-decoration: uppercase; 
}
.banner p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}