@charset "UTF-8";

/*
  .label-float{
    position: relative;
    padding-top: 13px;
    color: gray;
  }
  
  .label-float input{
    
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-appearance:none;
  }
  
  .label-float input:focus{
    border: 2px solid #3951b2;
  }
  
  .label-float input::placeholder{
    color:transparent;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .label-float input:required:invalid + label{
    color: red;
  }
  .label-float input:focus:required:invalid{
    border: 2px solid red;
  }
  .label-float input:required:invalid + label:before{
    content: '*';
  }
  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    top: 0;
    color: #3951b2;
  }*/

form{
  width: 600px;
  margin: auto;
}

input, textarea{
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13pt;
  background-color: rgba(255, 255, 255, .8)
}

input:hover , textarea:hover{
  background-color: #dddddd;
}
legend{
  color: #888888;
  font-weight: bold;
  font-size: 13pt;
  font-family: sans-serif;
}

fieldset{
  border-color: #cecece;
  margin: 20px;
}
fieldset#sexo{
  width: 200px;
}

fieldset#usuario{
  background: url("../_imagens/icone-contato.png") no-repeat 95% 95% ;
}

fieldset#endereco{
  background: url("../_imagens/icone-endereco.png") no-repeat 95% 95% ;
}

fieldset#mensagem{
  background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95% ;
}

fieldset#pedido{
  background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95% ;
}